
.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #161a3037;
    backdrop-filter: blur(10px);
}

.modal {
    --m-height: 100vh;
    --m-width: 100vw;

    position: absolute;
    top: calc(50% - (var(--m-height) / 2));
    left: calc(50% - (var(--m-width) / 2));

    width: var(--m-width);
    height: var(--m-height);
    background-color: #161A30;
}

.modal-content {
    flex-direction: column;
    justify-content: flex-start;
}

.modal-header {
    justify-content: flex-end;

    width: 95%;
    height: fit-content;
}

.modal-close-btn {
    background-color: rgba(255, 255, 255, 0);
    width: fit-content;
}

@media screen and (min-width: 400px) { /* Device: Tablet & Desktop*/

    .modal {
        --m-height: clamp(750px, 800px, 80%);
        --m-width: clamp(400px, 450px , 80%);

        border-radius: 15px;
    }
}
