.wrd-home-container {
    flex-direction: column;
    
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 3rem;
    gap: 1rem;

    font-size: clamp(0.3rem, 3vw, 0.8rem);
}

.wrd-header {
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

.wrd-logout-btn {
    background-color: rgb(151, 9, 9);
    width: clamp(80px, 10vw ,120px);
    height: clamp(15px, 10vw, 40px);

    border-radius: 8px;
    font-weight: 600;
}

.wrd-navbar {
    margin-top: 4rem;

    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.wrd-profile {
    background-color: #161A30;

    padding: 2% 3%;
    border-radius: 15px;
}

.wrd-profile-content {  
    height: fit-content;
    gap: 1rem;
}

.wrd-table-cap {
    color: #161A30;
    font-size: large;
    font-weight: 700;

    margin-top: 2rem;
}

.wrd-record {
    background-color: #161A30;
    color: #F0ECE5;
    width: 100%;
    height: fit-content;

    border-radius: 10px;
}

.wrd-record-table {
    width: 100%;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #F0ECE5; 
    border-collapse: collapse;

    font-size: 1rem;
    text-align: center;
}

.wrd-record-table tr {
    height: 2.5rem;

}
