.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
}

.navbar {
    justify-content: space-between;
    height: fit-content;
}

.req-button {
    background-color: #161A30;
    width: clamp(100px, 20vw ,170px);
    height: 40px;
}