*, 
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  padding-bottom: 1rem;
}

a:visited, a:link {
    color: inherit;
}

.flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

[class*="link"] {
    text-decoration: none;
    color: inherit;
}

.sort-btn:active {
    background-color: #343a5e;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #F0ECE5;
    border-top: none;
    border-left: none;
    border-right: none;

    padding-inline: 1rem;
}

th {
    border-bottom: 2px solid #F0ECE5;
}

td {
    height: 4rem;
}

footer {
    padding-top: 3rem;
    margin: 0 auto;
    text-align: center;

}

.github-icon:hover {
    cursor: pointer;
}
